{{> userHeader}}

<div class="container py-5">
  <div class="row g-4">
    {{#each products}}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <img src="/images/products/{{this._id}}.jpg" class="card-img-top img-user" alt="{{this.name}}">
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <p class="card-text">{{this.des}}</p>
          <p class="card-text text-danger">{{this.price}}</p>
          <p style="visibility: hidden;"
          id="added-{{this._id}}"class="card-text text-success">Added</p>
          <button class="btn btn-primary" onclick="addToCart('{{this._id}}', '{{../user._id}}')">Add to Cart</button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<script>
  function addToCart(prodId, userId) {
    if (!userId) {
      window.location.href = '/login'
      return;
    }
    console.log(`Sending request to add product ${prodId} to cart for user ${userId}`);
    
    fetch(`/add-to-cart/${prodId}/${userId}`, {
      method: 'GET',
    })
    .then(response => response.json())
    .then(res => {
      console.log('AJAX response:', res);
      if (res.status) {
        const countElem = document.getElementById('count');
        if (countElem) {
          let count = parseInt(countElem.innerHTML) || 0;
          count += 1;
          countElem.innerHTML = count;
        }
        const added = document.querySelector('#added-'+prodId)
        added.style.visibility = 'visible'
        setTimeout(() => {
          added.style.visibility = 'hidden'
        }, 3000)
      } else {
        console.error('Error in response:', res.error);
      }
    })
    .catch(err => {
      console.error('Error in AJAX request:', err);
    });
  }
</script>